form .form-group {
  align-items: center;
}

form input {
  border: none;
  font-weight: 700;
}

form input:focus {
  outline: none;
}

form button {
  border: none;
  background: none;
  cursor: pointer;
}

.options {
  list-style: none;
}

.option {
  text-align: left;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 30px;
}

.option:hover {
  color: #000000b3;
}
