form .form-group {
  align-items: center;
}

form input {
  border: none;
  font-weight: 700;
}

form input:focus {
  outline: none;
}

form button {
  border: none;
  background: none;
  cursor: pointer;
}
