.stat {
  background: #fff;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.stat .stat-name {
  font-size: 20px;
  color: #333;
}

.stat .stat-value {
  font-size: 40px;
}

@media (max-width: 1150px) {
  .stat {
    width: 80%;
  }
}
